* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../img/fundo.jpg');
  background-size: auto 100vh;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  height: 100vh;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: teal;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: white;
}

.titulo {
  animation: 1s ease 2s animacaoTitulo forwards;
  opacity: 0;
  transform: scale(0.2) translateY(50vh);
}

@keyframes animacaoTitulo {
  from {
    opacity: 0;
    transform: scale(0.2) translateY(50vh);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-subtitle {
  font-family: 'Press Start 2P', cursive;
  font-style: italic;
  line-height: 1.8em;
}

.site-title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 4em;
}

.contato,
.portfolio {
  min-height: 100vh;
  padding: 2em;
}

.contato h3,
.portfolio h3 {
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
  margin-bottom: 1.5em;
  margin-top: 0.8em;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    align-content: center;
    grid-template-columns: repeat(3, 260px);
    height: calc(100vh - 8em - 48px);
    justify-content: center;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  border-radius: 5px;
  height: 180px;
  object-fit: cover;
  transition: transform 500ms;
  width: 240px;
}

.img-portfolio:hover {
  transform: scale(1.2) rotate(-2deg);
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  text-decoration: none;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-shadow: 0px 0px 10px rgba(255,255,255,.5);
}